@{
    ViewBag.Title = "Yeni Kullanıcı";
}

<h2>Yeni Kullanıcı Ekleme</h2>

<br />
<br />

<form action="/Yeni/Create" method="post">

    <label>Adi</label>
    <br />
    <input tpye="text" name="Adi" />
    <br />
    <br />

    <label>Soyadi</label>
    <br />
    <input tpye="text" name="Soyadi" />
    <br />
    <br />

    <label>Sehir</label>
    <br />
    <input tpye="text" name="Sehir" />
    <br />
    <br />


    <input type="submit" value="Veri Tabanına Kaydet" />


</form>

